body {
    background-image: url("https://cdn.wakuwaku.today/uploads/store/pixta_50213829_L%284%29-46a88de9f592f9cc7375e58a788b673f.jpg");
    font-family: Verdana,sans-serif;
}
header, nav, section, article, footer, .sidebar {
    margin: 0;
    padding: 15px;
}
header {
    text-align: center;
    width: 100%;
    height: 100px;
    color:blueviolet;
}

nav {
    position: relative;
    height: 30px;
    background-color:rgba(10, 10, 50, 0.5);
    justify-content: center;
}

nav ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 33%;
    float: left;
    color: lightgreen;
}

#article-container{
    background: cadetblue;
    width: 65%;
    float: left;
}
#article-container > h2 {
    text-align: center;
    margin: 0;
    padding-top: 20px;
}
.sidebar {
    width: 31%;
    float: right;
    background: darkcyan;
}
#footer {
    clear: left;
    width: 100%;
    text-align: center;
    padding-top: 60px;
    color: yellow;
}